FORMSPREE_ENDPOINT=
GITHUB_TOKEN=
BLOG_GITHUB_OWNER=s0n4jit
BLOG_GITHUB_REPO=blog.sonajit.in
BLOG_GITHUB_POSTS_PATH=
BLOG_EXTERNAL_URL=https://blog.sonajit.in
NEXT_PUBLIC_BLOG_EXTERNAL_URL=https://blog.sonajit.in
PROJECTS_GITHUB_OWNER=s0n4jit
PROJECTS_GITHUB_REPO=projects.sonajit.in
PROJECTS_JSON_PATH=projects.json
PROJECTS_GITHUB_REF=main
GITHUB_ASSET_ALLOWED_OWNERS=s0n4jit
